@import "normalize-scss";
@import "global";
@import "typo";


html {
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  font: normal normal #{$font-size}/1.5 "Inter", sans-serif;
  font-feature-settings: "ss01", "ss03", "cv10", "calt", "kern";
  color: $color-black;

  .blur {
    border-radius: 2px;
    background: transparentize($color-pale-gray, 0.1);

    @supports (
      (-webkit-backdrop-filter: saturate(180%) blur(20px))
        or (backdrop-filter: saturate(180%) blur(20px))
    ) {
      background: transparentize($color-pale-gray, 0.3);
      -webkit-backdrop-filter: saturate(180%) blur(10px);
      backdrop-filter: saturate(180%) blur(10px);
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity $transition;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}

@keyframes font-var {
  0% {
    font-variation-settings: "wght" 700, "slnt" -5;
  }

  100% {
    font-variation-settings: "wght" 900, "slnt" -10;
    transform: scale(1.1);
  }
}